.App {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: rgb(230, 180, 230);
}

.App-header {
  background-color: rgb(230, 180, 230);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Background {
  background: rgb(252, 252, 252);
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  padding-bottom: 66px;
  margin-bottom: 20%;
  margin-top: 20%;
  padding-top: 46px;
  text-align: center;
  width: 90%;
}

.Background_inv {
  background: rgb(252, 252, 252);
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  max-height: 90%;
  padding-bottom: 66px;
  position: relative;
  margin-bottom: 7%;
  margin-top: 7%;
  padding-top: 46px;
  text-align: center;
  width: 90%;
}
